<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	
	<!-- springmvc 注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- josn转换配置 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJackson2HttpMessageConverter"
		  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置静态资源文件,防止被拦截 -->
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/fonts/" mapping="/fonts/**"/>  
    <mvc:resources location="/framework/" mapping="/framework/**"/>  
    <mvc:resources location="/images/" mapping="/images/**"/>  
    <mvc:resources location="/js/" mapping="/js/**"/> 
    <mvc:resources location="/layui/" mapping="/layui/**"/>  
    <mvc:resources location="/tgls/" mapping="/tgls/**"/> 
	
	
	<!-- 扫描器  扫描control包中的类，出现@Controller注解时，将类注册成bean,(可有多个)-->
     <context:component-scan base-package="controller.service">
     </context:component-scan>
     
     
     <!--指定自动搜索Bean组件、自动搜索切面类  -->
     <context:component-scan base-package="annotation,business.impl">
     	<context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
     </context:component-scan>
     
    <!--  如果不写proxy-target-class="true"这句话也没问题 -->
     <aop:aspectj-autoproxy/>
     
     
	<!-- 配置视图解析器(InternalResourceViewResolver) -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
            id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp" />
    </bean>
	
</beans>
